bottle==0.13.4
bottle-websocket==0.2.9
cffi==2.0.0
cryptography==49.0.0
Eel==0.18.2
future==1.0.0
gevent==26.5.0
gevent-websocket==0.10.1
greenlet==3.5.2
importlib_resources==7.1.0
pycparser==3.0
pyparsing==3.3.2
SQLAlchemy==2.0.51
typing_extensions==4.15.0
zope.event==6.2
zope.interface==8.5
httpx
pydantic
python-dotenv
keyring
